{% extends 'layout/main.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Register
{% endblock %}

{% block content %}
<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-0 py-lg-5">
					<div class="container">
						<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
							<div class="row row-cols-1 row-cols-lg-1 row-cols-xl-2">
								<div class="col mx-auto">
									<div class="card mb-0">
										<div class="card-body">
											<div class="border p-4 rounded">
												<div class="text-center">
													<h3 class="">Sign Up</h3>
													<p>Already have an account? <a href="authentication-signin.html">Sign in here</a>
													</p>
												</div>
												<div class="form-body">
													<form class="row g-3" method="post" action="{% url 'registerUser' %}">
                                                        {% csrf_token %}
														<div class="col-sm-6">
															<label for="inputFirstName" class="form-label">First Name</label>
															<input type="text" name="firstname" class="form-control" id="inputFirstName" placeholder="First name" required>
														</div>
														<div class="col-sm-6">
															<label for="inputLastName" class="form-label">Last Name</label>
															<input type="text" name="lastname" class="form-control" id="inputLastName" placeholder="Last name" required>
														</div>
                                                        <div class="col-12">
															<label for="inputSelectCountry" class="form-label">Date of birth</label>
															<input class="form-control" name="dob" required type="date" id="inputSelectCountry" aria-label="Default select example"/>
														</div>
														<div class="col-12">
															<label for="inputEmailAddress" class="form-label">Username</label>
															<input type="text" name="username" class="form-control" id="inputEmailAddress" placeholder="Username" required>
														</div>
														<div class="col-12">
															<label for="inputChoosePassword" class="form-label">Password</label>
															<div class="input-group" id="show_hide_password">
																<input type="password" required name="password" class="form-control border-end-0" id="inputChoosePassword" value="" placeholder="Password"/>
															</div>
														</div>
                                                        <div class="col-12">
															<label for="inputEmailAddress" class="form-label">Email</label>
															<input type="email" name="email" class="form-control" id="inputEmailAddress" placeholder="Email" required>
														</div>
                                                        <div class="col-12">
															<label for="inputEmailAddress" class="form-label">Phone number</label>
															<input type="tel" name="phone" class="form-control" id="inputEmailAddress" placeholder="Phone number" required>
														</div>
														<div class="col-12">
															<div class="d-grid">
																<button type="submit" class="btn btn-dark"><i class='bx bx-user'></i>Sign up</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end row-->
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
{% endblock %}