{% extends 'layout/main.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    Cart
{% endblock %}
{% block content %}
    <div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">Shop Cart</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
										</li>
										<li class="breadcrumb-item"><a href="javascript:;">Shop</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Shop Cart</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-4">
					<div class="container">
						<div class="shop-cart">
							<div class="row">
								<div class="col-12 col-xl-8">
									<div class="shop-cart-list mb-3 p-3">
                                        {% for item in items %}
                                            <div id="cart-item">
                                            <div class="row align-items-center g-3">
											<div class="col-12 col-lg-6">
												<div class="d-lg-flex align-items-center gap-2">
													<div class="cart-img text-center text-lg-start">
														<img src="{{item.product.photo_url}}" width="130" alt="">
													</div>
													<div class="cart-detail text-center text-lg-start">
														<h6 class="mb-2">{{ item.product.product_name }}</h6>
{#														<p class="mb-0">Size: <span>Regular</span>#}
{#														</p>#}
{#														<p class="mb-2">Color: <span>White & Blue</span>#}
{#														</p>#}
														<h5 class="mb-0">{{item.product.price|intcomma}} USD</h5>
													</div>
												</div>
											</div>
											<div class="col-12 col-lg-3">
												<div class="cart-action text-center">
                                                    <div class="row">
                                                        <form method="post" action="{% url 'addQuantity' %}" id="add-form">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                                            <input type="submit" class="col-3 btn btn-outline-dark m-2" name="action" value="-">
										                    <input type="text"  class="col-3 box-flex" value="{{ item.quantity }}" disabled>
										                    <input type="submit" class="col-3 btn btn-outline-dark m-2" name="action" value="+">
                                                        </form>
                                                    </div>
												</div>
											</div>
											<div class="col-12 col-lg-3">
												<div class="text-center">
													<div class="d-flex gap-2 justify-content-center justify-content-lg-end">
                                                        <form method="post" action="{% url 'addQuantity' %}" id="add-form">
                                                            {% csrf_token %}
                                                                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                                                <input type="submit" name="action" value="Remove" class="btn btn-dark rounded-0 btn-ecomm"/>
                                                            </form>
														<a href="javascript:;" class="btn btn-light rounded-0 btn-ecomm"><i class='bx bx-heart me-0'></i></a>
													</div>
												</div>
											</div>
										</div>
										<div class="my-4 border-top"></div>
                                        </div>
                                        {% endfor %}


										<div class="d-lg-flex align-items-center gap-2">
                                            <a href="{% url 'product-list' %}" class="btn btn-dark btn-ecomm"><i class='bx bx-shopping-bag'></i> Continue Shopping</a>
											<a href="javascript:;" class="btn btn-light btn-ecomm ms-auto"><i class='bx bx-x-circle'></i> Clear Cart</a>
											<a href="javascript:;" class="btn btn-white btn-ecomm"><i class='bx bx-refresh'></i> Update Cart</a>
										</div>
									</div>
								</div>
								<div class="col-12 col-xl-4">
									<div class="checkout-form p-3 bg-light">
										<div class="card rounded-0 border bg-transparent mb-0 shadow-none">
											<div class="card-body">
												<div class="my-3 border-top"></div>
												<h5 class="mb-0">Order Total: <span class="float-end">{{ order.get_cart_total|intcomma }} USD</span></h5>
												<div class="my-4"></div>
                                                {% if items %}
                                                    <div class="d-grid"> <a href="{% url 'checkout' %}" class="btn btn-dark btn-ecomm">Proceed to Checkout</a>
												</div>
                                                {% endif %}

											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end row-->
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
{% endblock content %}